.header {
    background: linear-gradient(rgb(12,116,124) , rgb(18,175,188));
    height: 70px !important;
    margin-bottom: 10px;
}
.shadow {
    -webkit-box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 5px 11px 0 rgba(50,50,50,0.75);
}
#page_header > a {
    padding-top: 10px;
    height: 100%;
}
#page_header > #page_label {
    margin: 10px 0 0 80px;
}
#page_header #page_label > .label_big {
    position: relative;
    left: -2px;
    font-size: 2rem;
}
.no_home {
    margin: 10px 0 0 10px !important;
}
.touch {
    -webkit-overflow-scrolling: touch;
}
